
$o-navbar-background: $curq-orange;
$o-navbar-border-bottom: 1px solid darken($curq-orange, 10%);

$o-navbar-entry-color: $curq-blue;
$o-navbar-entry-color--hover: $curq-blue;

$o-navbar-badge-color: rgba($o-white, .85);
