$curq-orange: #ffc03d;
$curq-blue: #1c355e;

$o-white: #ffffff;
$o-community-color: $curq-blue;
$o-enterprise-color: $curq-blue;

$o-success: #2a8b49;
$o-info: #2b7a94;
$o-warning: #ee9e00;
$o-danger: #c83737;

$o-theme-text-colors: (
    "success": #16582d,
    "info": #134d61,
    "warning": #8f5900,
    "danger": #8a1f1f,
);

$o-main-link-color: $curq-blue;
$o-main-favorite-color: $curq-orange;
