$curq-orange: #FFC03D;
$curq-blue: #1C355E;

$o-white: #FFFFFF;
$o-community-color: $curq-blue;
$o-enterprise-color: $curq-blue;


$o-success: #2A8B49;
$o-info: #2B7A94;
$o-warning: #EE9E00;
$o-danger: #C83737;

$o-theme-text-colors: (
    "success": #16582D,
    "info": #134D61,
    "warning": #8F5900,
    "danger": #8A1F1F,
);

$o-main-link-color: $curq-blue;
$o-main-favorite-color: $curq-orange;
